h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
    font-weight: 300;
    font-size: 30px;
}

form {
    padding: 0 20px;
}
.form-group.row {
    margin-bottom: 20px;
}

.form-group.row.align-items-end {
    text-align: right;
}

.container button {
    margin-left: 30px;
}
.vertial_line {
    border-left: 1px solid white;
    margin: 0 20px;
}